name: build

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: self-hosted
    strategy:
      matrix:
        node-version: [14.x]
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm i
      - run: CI=false REACT_APP_API_URL='${{ secrets.REACT_APP_API_URL }}' REACT_APP_SOCKET_URL='${{ secrets.REACT_APP_SOCKET_URL }}' npm run build
